@import url(adaptive.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --color-text: #cdc6c3;
    --color-icon: #cdc6c3;
}

@font-face {
    font-family: "raleway-c";
    src: url(../fonts/raleway-regular.woff2) format("woff2");
}

@font-face {
    font-family: "sedoe-c";
    src: url(../fonts/SegoeUI.woff2) format("woff2");
}

.main {
    height: 100vh;
}

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    flex-flow: column;
}

.position {
    font-family: "raleway-c";
    color: var(--color-text);
    font-size: 50px;
    position: absolute;
}

.info {
    font-family: "raleway-c";
    color: var(--color-text);
    font-size: 30px;
    padding-top: 450px;
}

.postfix {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.icon {
    max-width: 130px;
    padding-left: 50px;
    padding-right: 50px;
    color: var(--color-text);
}

.text {
    font-family: "raleway-c";
    color: var(--color-text);
    font-size: 15px;
}

.copyright {
    position: absolute;
    font-family: "sedoe-c";
    color: var(--color-text);
    font-size: calc(var(--index)/1.8);
    opacity: 0.4;
    bottom: 15px;
}

a {
    color: var(--color-text);
    text-decoration: none
}

.margin {
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--color-text);
}

#zatemnenie {
    background: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#okno {
    width: 75%;
    height: 75%;
    text-align: center;
    padding: 15px;
    border: 1px solid #ffffff17;
    border-radius: 5px;
    color: #b8b8b8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(0, 0, 0);
    font-family: raleway-c;
}

#zatemnenie:target {
    display: block;
}

.close {
    position: absolute;
    display: block;
    border: 1px solid #61616159;
    color: #969697;
    padding: 0 12px;
    margin: auto;
    background: #070707;
    font-size: 14pt;
    cursor: pointer;
    font-family: 'raleway-c';
    border-radius: 15px;
    bottom: 15px;
    left: 50%;
    margin: 0 0 0 -37px;
}

.close:hover {
    background: #3d3d3d;
    color: aliceblue;
}

#about {
    font-size: 20px;
    padding-top: 20px;
}

#touch {
    margin: 0;
    font-size: 15px;
    color: #6d6d6d52;
    font-family: raleway-c;
}

.dota {
    max-width: calc(var(--index)*60);
    max-height: calc(var(--index)*5);
}
